# Let's begin: prepare data
Start by importing the mammographic_masses.data.txt file into a Pandas dataframe (hint: use read_csv) and take a look at it.

In [19]:
import pandas as pd
df=pd.read_csv('mammographic_masses.data.txt')
print(df.shape)
df.head()

(960, 6)

   5  67  3 5.1 3.1  1
0  4  43  1   1   ?  1
1  5  58  4   5   3  1
2  4  28  1   1   3  0
3  5  74  1   5   ?  1
4  4  65  1   ?   3  0

In [20]:
df=pd.read_csv('mammographic_masses.data.txt',header=None,names=['BI-RADS','Age','Shape','Margin',"Density",'Severity'])
# Another way to do it : df.columns=['BI-RADS','Age','Shape','Margin',"Density",'Severity']
print(df.shape)
df.head()

(961, 6)

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

Make sure you use the optional parmaters in read_csv to convert missing data (indicated by a ?) into NaN, and to add the appropriate column names (BI_RADS, age, shape, margin, density, and severity):

In [21]:
df.replace(to_replace='?', value="NaN",inplace=True)
df.tail()

    BI-RADS Age Shape Margin Density  Severity
956       4  47     2      1       3         0
957       4  56     4      5       3         1
958       4  64     4      5       3         0
959       5  66     4      5       3         1
960       4  62     3      3       3         0

Evaluate whether the data needs cleaning; your model is only as good as the data it's given. Hint: use describe() on the dataframe.

In [22]:
df.dtypes

BI-RADS     object
Age         object
Shape       object
Margin      object
Density     object
Severity     int64
dtype: object

In [23]:
df.apply(pd.to_numeric, errors='coerce').dtypes

BI-RADS     float64
Age         float64
Shape       float64
Margin      float64
Density     float64
Severity      int64
dtype: object

In [24]:
df=df.apply(pd.to_numeric, errors='coerce') 
df.describe()

          BI-RADS         Age       Shape      Margin     Density    Severity
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

There are quite a few missing values in the data set. Before we just drop every row that's missing data, let's make sure we don't bias our data in doing so. Does there appear to be any sort of correlation to what sort of data has missing fields? If there were, we'd have to try and go back and fill that data in.

In [26]:
df.loc[(df['Density'].isnull())|
       (df['BI-RADS'].isnull())|
       (df['Shape'].isnull())|
       (df['Margin'].isnull())|
       (df['Age'].isnull())]

Empty DataFrame
Columns: [BI-RADS, Age, Shape, Margin, Density, Severity]
Index: []

If the missing data seems randomly distributed, go ahead and drop rows with missing data. Hint: use dropna().

In [10]:
#dropna
df=df.dropna()
print(df.shape)
df.to_csv('mass_data_cleanup.csv')

(831, 5)

Next you'll need to convert the Pandas dataframes into numpy arrays that can be used by scikit_learn. Create an array that extracts only the feature data we want to work with (age, shape, margin, and density) and another array that contains the classes (severity). You'll also need an array of the feature name labels.

In [11]:
import numpy as np
feature_names = ['age', 'shape', 'margin', 'density']
X=df[['Age','Shape','Margin',"Density"]].values
y=df[['Severity']].values

In [12]:
X.shape
y.shape
X

array([[67.,  3.,  5.,  3.],
       [58.,  4.,  5.,  3.],
       [28.,  1.,  1.,  3.],
       ...,
       [64.,  4.,  5.,  3.],
       [66.,  4.,  5.,  3.],
       [62.,  3.,  3.,  3.]])